{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}



<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/oj.jpg' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold"> ZZ .... ZZ .... ZZ :D </h1>
  </div>
</div>


<h2 class="mt-5"> Portfolio </h2>
<hr>
<div class="row">
  {% for item in projects %}
  <div class="col-lg-4 col-md-6">

    {% if item.url %}
    <a href="{{ item.url }}">
      <img src="{{ item.img.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ item.img.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3> {{ item.title }} </h3>
    <p> {{ item.descripton }} </p>

  </div>
  {% endfor %}
</div>

{% endblock %}
